/* Inter-Regular */
@font-face {
	font-family: 'Inter';
	src: url('Inter-Regular.woff2') format('woff2'),
			url('Inter-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Inter-Medium */
@font-face {
	font-family: 'Inter';
	src: url('Inter-Medium.woff2') format('woff2'),
			url('Inter-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Inter-Semibold */
@font-face {
	font-family: 'Inter';
	src: url('Inter-SemiBold.woff2') format('woff2'),
			url('Inter-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Inter-Bold */
@font-face {
	font-family: 'Inter';
	src: url('Inter-Bold.woff2') format('woff2'),
			url('Inter-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Inter-Black */
@font-face {
	font-family: 'Inter';
	src: url('Inter-Black.woff2') format('woff2'),
			url('Inter-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* font-family: 'Inter', sans-serif; */
