/* Inter-Regular */
@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-Regular.woff2') format('woff2'),
			url('/fonts/Inter-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Inter-Medium */
@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-Medium.woff2') format('woff2'),
			url('/fonts/Inter-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Inter-Semibold */
@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-SemiBold.woff2') format('woff2'),
			url('/fonts/Inter-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Inter-Bold */
@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-Bold.woff2') format('woff2'),
			url('/fonts/Inter-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Inter-Black */
@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-Black.woff2') format('woff2'),
			url('/fonts/Inter-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	text-rendering: optimizeLegibility;
}
/* JISAZN-Regular */
@font-face {
	font-family: 'JISAZN';
	src: url('/fonts/jaznr.eot');
	src: url('/fonts/jaznr.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/jaznr.woff') format('woff'),
		 url('/fonts/jaznr.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* JISAZN-Bold */
@font-face {
	font-family: 'JISAZN';
	src: url('/fonts/jaznb.eot');
	src: url('/fonts/jaznb.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/jaznb.woff') format('woff'),
		 url('/fonts/jaznb.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Lato-Regular */
@font-face {
	font-family: 'Lato';
	src: url('/fonts/Lato-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Lato-Medium */
@font-face {
	font-family: 'Lato';
	src: url('/fonts/Lato-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Lato-Semibold */
@font-face {
	font-family: 'Lato';
	src: url('/fonts/Lato-Semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Lato-Bold */
@font-face {
	font-family: 'Lato';
	src: url('/fonts/Lato-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Lato-Black */
@font-face {
	font-family: 'Lato';
	src: url('/fonts/Lato-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* font-family: 'Inter', sans-serif; */
