@media only screen and (max-width:1900px) {

}

@media only screen and (min-width:1200px) and (max-width:1366px) {

}

@media only screen and (max-width:1366px) {

}

@media only screen and (min-width:1929px) {
	.slider .slider-item {
		min-height:537px;
	}
}

@media only screen and (max-width:1199px) {
	.flat-imagebox.single .similar-carousel.owl-theme .owl-controls .owl-nav div.owl-prev {
		left:-18px;
	}
	.flat-imagebox.single .similar-carousel.owl-theme .owl-controls .owl-nav div.owl-next {
		right:-18px;
	}
}

@media only screen and (min-width:992px) and (max-width:1199px) {
	#mega-menu > .menu {
		width:146%;
	}
}

@media only screen and (min-width:992px) {

}

@media only screen and (max-width:991px) {
	.btn-menu {
		display:block;
	}
	.flat-slider {
		margin-top:16px;
	}
	.widget-ft.widget-social ul li p {
		display: none;
	}
	.widget-ft.widget-social {
		margin-top:45px;
	}
	#header .header-top,
	#header .header-bottom {
		display:none;
	}
	.top-search .box-search .search-suggestions {
		width:100%;
	}
	.slider .slider-item {
		min-height:358px;
	}
	.header-mobile .top-search .box-search input {
		height:57.5px;
	}
	.header-mobile .logo {
		width:140px;
	}
	.top-search .box-search .icon-search-left {
		top:16px;
	}
	.logo.logo-ft {
		margin-top:30px;
	}
	.flat-breadcrumb {
		min-height:40px;
		position:relative;
	}
	.flat-breadcrumb ul.breadcrumbs li {
		height:40px;
		line-height:38px;
		margin-top:0;
	}
	.flat-breadcrumb:before {
		content:"";
		position:absolute;
		top:0;
		left:50%;
		width:100vw;
		height:1px;
		background-color:#d2d4d6;
		transform:translateX(-50%);
		-webkit-transform:translateX(-50%);
		-moz-transform:translateX(-50%);
		-ms-transform:translateX(-50%);
		-o-transform:translateX(-50%);
	}
	.product-detail-main,
	.product-detail-side .detail-imagebox,
	.product-detail-side .detail-to-cart a,
	.product-detail-side .detail-pages {
		width:100%;
	}
}

@media only screen and (min-width:768px) and (max-width:991px) {

}

@media only screen and (max-width:767px) {
	.flat-imagebox.single .similar-carousel.owl-theme .owl-controls .owl-nav div.owl-prev,
	.flat-imagebox.single .similar-carousel.owl-theme .owl-controls .owl-nav div.owl-next {
		margin-top:-40px;
	}
}

@media only screen and (max-width:575px) {
	.flat-writers .writerbox {
		position:relative;
	}
	.writerbox .writerbox-main {
		margin-bottom:50px;
		height:216px;
	}
	.writerbox .writerbox-side {
		float:none;
		margin-right:0;
		margin-bottom:24px;
	}
	.writerbox .writerbox-side .writer-image {
		width:50%;
		height:100%;
	}
	.writerbox .writerbox-main .writer-name {
		font-size:16px;
		letter-spacing:0.5px;
	}
	.writerbox .writerbox-main p {
		font-size:14px;
		letter-spacing:0.4375px;
	}
	.writerbox .writerbox-side .writer-more a {
		width:100%;
		position:absolute;
		bottom:0;
		margin-bottom:16px;
	}
	.widget-ft.widget-categories li {
		width:46%;
		margin-right:12px;
	}
	.widget-ft.widget-categories-age li {
		width:33%;
	}
	.widget-ft.widget-categories,
	.widget-ft.widget-categories-age {
		margin-top:40px;
	}
	.widget-ft.widget-menu li {
		display:block;
		margin:16px 0;
	}
	.widget-ft.widget-menu {
		margin-top:40px;
		padding-top:1px;
	}
	.widget-ft.widget-menu li a {
		margin-top:0;
		font-size:14px;
	}
	.widget-ft.widget-menu:before {
		background-color:#667483;
	}
	.footer-main .copyright {
		padding:23px 0;
		position:relative;
	}
	.footer-main .copyright:before {
		content:"";
		position:absolute;
		top:0;
		left:50%;
		width:100vw;
		height:1px;
		background-color:#d2d4d6;
		transform:translateX(-50%);
		-webkit-transform:translateX(-50%);
		-moz-transform:translateX(-50%);
		-ms-transform:translateX(-50%);
		-o-transform:translateX(-50%);
	}
	.flat-contact .flat-row-title h2 {
		margin-bottom:26px;
		font-size:24px;
		font-weight:600;
		letter-spacing:0.75px;
	}
	.flat-newsletter .newsletter-title h1 {
		font-size:20px;
		letter-spacing:0.25px;
	}
	.flat-newsletter p {
		font-size:16px;
		letter-spacing:0.2px;
	}
	#mainnav-mobi .mobinav-links li a,
	#mainnav-mobi .mobinav-menu .menu li a,
	.widget-ft.widget-categories li a,
	.widget-ft.widget-categories-age li a,
	.footer-main .copyright p {
		font-size:14px;
	}
	#mainnav-mobi .mobinav-menu .menu li {
		margin-bottom:8px;
	}
	.slider .slider-item .item-text h2 {
		font-size:24px;
	}
	.slider .slider-item .item-text {
		padding:46px 20px;
		width:70%;
		display:none;
	}
	.slider .slider-item .item-text p {
		font-size:14px;
		letter-spacing:0.175px;
	}
	.flat-imagebox .flat-row-title h1,
	.flat-projects .flat-row-title h1 {
		margin:24px 0;
		font-size:24px;
		letter-spacing:0.75px;
	}
	.flat-writers .flat-row-title h1 {
		font-size:24px;
		letter-spacing:0.75px;
		font-weight:600;
	}
	.flat-row-title .sort > div {
		margin:16px 0;
	}
	.flat-single-writer .writer-detail .writer-title,
	.product-detail-main .detail-name .name-book,
	.product-detail-main .detail-content h4 {
		font-size:16px;
		letter-spacing:0.5px;
	}
	.flat-single-writer .writer-detail p,
	.product-detail-main .detail-name .name-author,
	.product-detail-main .detail-content p,
	.flat-about .about-detail p {
		font-size:14px;
		letter-spacing:0.4375px;
	}
	.product-detail-main .detail-prop table tr td:first-child,
	.product-detail-main .detail-prop table tr td:last-child {
		font-size:14px;
		letter-spacing:0.4375px;
	}
	.flat-about .about-title {
		font-size:16px;
		letter-spacing:0.5px;
		font-weight:600;
	}
	.flat-newsletter .subscribe-content {
		flex-direction:column;
	}
	.flat-newsletter .subscribe-content input {
		width:100%;
		margin-right:0;
		margin-bottom:16px;
	}
	.flat-elibrary .ebook-box .ebook-btn,
	.flat-elibrary .ebook-box .ebook-btn a {
		width:100%;
	}
	#contact-form .form-box.one-half {
		width:100%;
	}
	#contact-form .form-box.one-half.contact-name,
	#contact-form .form-box.one-half.contact-email {
		padding-right:0;
	}
	#contact-form .form-box.one-half.contact-surname,
	#contact-form .form-box.one-half.contact-subject {
		padding-left:0;
	}
	#contact-form .form-box {
		margin-bottom:16px;
	}
	#contact-form .form-box.submit-box button {
		width:100%;
	}
	.slider .slider-item {
		min-height:190px;
	}
	.flat-imagebox.writers .writers-carousel.owl-carousel .owl-stage {
		margin-left:-10%;
	}
}

@media only screen and (min-width:480px) and (max-width:767px) {

}

@media only screen and (max-width:480px) {
	.flat-imagebox .flat-row-title h1 {
		font-size:24px;
	}
	.flat-row-title .sort > div.popularity select {
		width:156px;
	}
	.flat-breadcrumb ul.breadcrumbs li.trail-item a,
	.flat-breadcrumb ul.breadcrumbs li.trail-end a {
		font-size:14px;
	}
	.widget-ft.widget-social ul li a {
		margin-left:6px;
	}
	.flat-imagebox .flat-row-title {
		white-space:normal;
	}
	.flat-contact .box-contact ul li {
		height:40px;
	}
	.slider .slider-item {
		min-height:150px;
	}
	.flat-imagebox.writers .writers-carousel.owl-carousel .owl-stage {
		margin-left:-10%;
	}
}

@media (max-width:320px) {
	.product-box {
		height:338px;
	}
	.product-box .box-image {
		margin-top:8px;
		margin-bottom:8px;
	}
	.product-box .box-content {
		height:120px;
		padding:0 8px 8px 8px;
	}
	.product-box .box-content .product-name,
	.product-box .box-content .product-id {
		margin-bottom:8px;
	}
	.flat-imagebox.single {
		height:490px;
	}
	.widget-ft.widget-categories,
	.widget-ft.widget-categories-age {
		display:none;
	}
	footer {
		min-height:364px;
	}
	.slider .slider-item .item-text {
		display:none;
	}
}
