/**
  * Name: Altun Kitab
  * Version: 1.0
  * Author: Kenan Alizade & Huseyn Huseynli
*/

/* @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/**
  *	Reset
  *	Repeatable Patterns
  * Boxed
  * Header
  * Top Search
  * Header Mobile
  * Menu Mega
  * Button Menu
  * Mainnav-Mobi
  * Online Store
  * Flat Slider
  * Flat Imagebox
  * Product Box
  * Imagebox Pagination
  * Sidebar
  * Flat Imagebox Writers
  * Flat Projects
  * Flat Newsletter
  * Footer
  * Flat BreadCrumb
  * Flat Imagebox Single
  * Similar Carousel
  * Single Product
  * Flat Writers
  * Flat SIngle Writer
  * About Us
  * Flat E-library
  * Flat Contact
  * Flat Map
*/

/* Reset
-------------------------------------------------------------- */
html {
	overflow-y:scroll;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}
body {
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, caption, canvas, center, cite, code,
dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, form, footer, header, hgroup, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav,object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, tt, table, tbody, textarea, tfoot, thead, time, tr, th, td, u, ul, var, video {
	font-family:inherit;
	font-size:100%;
	font-weight:inherit;
	font-style:inherit;
	vertical-align:baseline;
	margin:0;
	padding:0;
	border:0;
	outline:0;
	background:transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
ol, ul {
	list-style:none;
}
blockquote, q {
	-webkit-hyphens:none;
	-moz-hyphens:none;
	-ms-hyphens:none;
	hyphens:none;
	quotes:none;
}
figure {
	margin:0;
}
:focus {
	outline:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
img {
	border:0;
	-ms-interpolation-mode:bicubic;
	vertical-align:middle;
}
legend {
	white-space:normal;
}
button,
input,
select,
textarea {
	font-size:100%;
	margin:0;
	max-width:100%;
	vertical-align:baseline;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
button,
input {
	line-height:normal;
}
input,
textarea {
	background-image:-webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0));
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	line-height:1;
	cursor:pointer;
	-webkit-appearance:button;
	border:none;
}
input[type="checkbox"],
input[type="radio"] {
	padding:0;
}
input[type="search"] {
	-webkit-appearance:textfield;
}
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance:none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border:0;
	padding:0;
}

/* Repeatable Patterns
-------------------------------------------------------------- */
*,
*:before,
*:after {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
*,
*:before,
*:after {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
body {
	font-family:'Lato', sans-serif;
	font-size:13px;
	line-height:24px;
	font-weight:400;
	background-color:#ffffff;
	color:#222c37;
	overflow:hidden;
	position:relative;
}
a {
	text-decoration:none;
	color:#222c37;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
a:hover,
a:focus {
	color:#e7ba04;
	text-decoration:none;
	outline:0;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
ul, ol {
	padding:0;
}
img {
	max-width:100%;
	height:auto;
}
b, strong {
	font-weight:900;
}
button,
button:hover {
	border:none;
}
button:focus {
	outline:none;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	display:inline-block;
	padding:0px 27px 0 27px;
	height:48px;
	line-height:42px;
	font-size:14px;
	color:#ffffff;
	background:#e5e5e5;
	font-weight:600;
	font-family:'Lato', sans-serif;
	position:relative;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input[type="email"] {
	position:relative;
	display:block;
	font-family:'Lato', sans-serif;
	width:100%;
	line-height:24px;
	padding:8px 15px 8px 30px;
	color:#222222;
	border:2px solid #cdcdcd;
	height:48px;
	background-color:transparent;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
select {
	border:none;
}
input[type="search"] {
	width:250px;
	margin-bottom:0px;
	border-radius:0px;
	background-color:#ffffff;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
	border:2px solid #cdcdcd;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
textarea {
	width:100%;
	padding:11px 16px;
	height:204px;
}
input[type="checkbox"] {
	display:inline;
}
textarea:-moz-placeholder,
textarea::-moz-placeholder,
input:-moz-placeholder,
input::-moz-placeholder {
	color:#aeaeae;
	opacity:1;
}
input:-ms-input-placeholder {
	color:#aeaeae;
}
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
	color:#aeaeae;
	opacity:1;
}
.btn {
	background-image:none;
}
select,
textarea,
input[type="text"],
input[type="submit"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.dropdown-menu,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	text-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none;
	box-shadow:none;
	color:#727272;
}
input.error {
	border-color:#f82c47;
}
select::-ms-expand {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	opacity:0;
}
h1, h2, h3, h4, h5, h6 {
	font-family:'Lato', sans-serif;
	font-weight:400;
}
h1 {
	font-size:32px;
}
h2 {
	font-size:24px;
}
h3 {
	font-size:20px;
	font-weight:500;
}
h4 {
	font-size:18px;
}
.container {
	width:1170px;
	max-width:100%;
}
.clearfix {
	clear:both;
}
.left {
	text-align:left;
}
.center {
	text-align:center;
}
.btn.focus, .btn:focus {
	box-shadow:none;
}

/* Scroll Css
-------------------------------------------------------------- */
#header ::-webkit-scrollbar {
	width:5px;
}
#header ::-webkit-scrollbar-track {
	-webkit-box-shadow:inset 0 0 16px #d9d7d7;
	box-shadow:inset 0 0 16px #d9d7d7;
	border-radius:0px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	-ms-border-radius:0px;
	-o-border-radius:0px;
}
#header ::-webkit-scrollbar-thumb {
	-webkit-box-shadow:inset 0 0 16px #e7ba04;
	box-shadow:inset 0 0 16px #e7ba04;
	border-radius:0px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	-ms-border-radius:0px;
	-o-border-radius:0px;
}
.preloader {
	background-color:#ffffff;
	background-image:url("../images/icon/preloader.gif");
	background-position:center center;
	background-repeat:no-repeat;
	height:100%;
	left:0px;
	position:fixed;
	top:0px;
	width:100%;
	height:100%;
	z-index:99999999999;
}

#scrollUp {
	bottom:85px;
	right:25px;
	padding:13px 0;
	text-align:center;
	width:50px;
	height:50px;
	background-color:#dfdede;
	color:#ffffff;
	opacity:0.5;
	border-radius:100%;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	-ms-border-radius:100%;
	-o-border-radius:100%;
}
#scrollUp i {
	font-size:25px;
}
#scrollUp:hover {
	background:#e7ba04;
	opacity:1;
}

/* Boxed
-------------------------------------------------------------- */
.boxed {
	position:relative;
}

/* Header
-------------------------------------------------------------- */
#header {
	position:relative;
	z-index:999;
}
.header-top {
	border-bottom:1px solid #d2d4d6;
	padding:10px 0;
	background-color:#fafbfc;
}
ul.flat-stores li {
	display:inline-block;
	line-height:38px;
	height:37px;
}
ul.flat-stores li a {
	font-size:14px;
	font-weight:500;
	margin-right:28px;
}
ul.flat-social {
	display:flex;
	justify-content:flex-end;
	align-items:center;
}
ul.flat-social > li {
	height:37px;
	line-height:38px;
}
ul.flat-social > li > a {
	width:28px;
	height:28px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
}
ul.flat-social > li a.social-facebook {
	background:url("../images/icon/social-facebook-mob.svg") no-repeat center center;
	background-size:contain;
}
ul.flat-social > li a.social-instagram {
	background:url("../images/icon/social-instagram-mob.svg") no-repeat center center;
	background-size:contain;
}
ul.flat-social > li a.social-youtube {
	background:url("../images/icon/social-youtube-mob.svg") no-repeat center center;
	background-size:contain;
}
ul.flat-social > li:not(:last-child) {
	margin-right:14px;
}
ul.flat-social li.flat-lang > a {
	border-left:1px solid #e5e5e5;
	padding-left:9px;
	height:37px;
	position:relative;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
}
ul.flat-social li.flat-lang ul.lang-list {
	min-width:43px;
	background-color:#fafbfc;
	visibility:hidden;
	opacity:0;
	position:absolute;
	top:calc(100% - 4px);
	z-index:91;
	padding:10px 0;
	border:1px solid #d2d4d6;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	transition:all 0.2s ease-out;
	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	-ms-transition:all 0.2s ease-out;
	-o-transition:all 0.2s ease-out;
}
ul.flat-social li.flat-lang:hover ul.lang-list {
	top:calc(100% - 0px);
	visibility:visible;
	opacity:1;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
}
ul.flat-social li.flat-lang > a {
	font-size:12px;
	font-weight:500;
	letter-spacing:1.2px;
}
ul.flat-social li.flat-lang ul.lang-list li a {
	display:block;
	text-align:center;
	padding:5px;
	line-height:18px;
	font-size:12px;
	font-weight:500;
	letter-spacing:1.2px;
}
.header-bottom {
	background-color:#ffffff;
}
.header-bottom #logo {
	line-height:75px;
}

/* Top Search */
.top-search {
	width:100%;
}
.top-search .box-search {
	position:relative;
	white-space:nowrap;
}
.top-search .box-search input {
	padding:8px 15px;
	height:48px;
	font-size:14px;
	border:1px solid #d2d4d6;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
}
.top-search .box-search .icon-search-left,
.top-search .box-search .icon-search-right {
	position:absolute;
	top:12px;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.top-search .box-search .icon-search-left {
	left:12px;
	opacity:0;
	transform:translateX(-60%);
	-webkit-transform:translateX(-60%);
	-moz-transform:translateX(-60%);
	-ms-transform:translateX(-60%);
	-o-transform:translateX(-60%);
}
.top-search .box-search .icon-search-right {
	right:12px;
	transform:translateX(0);
	-webkit-transform:translateX(0);
	-moz-transform:translateX(0);
	-ms-transform:translateX(0);
	-o-transform:translateX(0);
}
.top-search .box-search input#search:focus + .icon-search-left {
	opacity:1;
	transform:translateX(0);
	-webkit-transform:translateX(0);
	-moz-transform:translateX(0);
	-ms-transform:translateX(0);
	-o-transform:translateX(0);
}
.top-search .box-search input#search:focus + .icon-search-left + .icon-search-right {
	opacity:0;
	transform:translateX(60%);
	-webkit-transform:translateX(60%);
	-moz-transform:translateX(60%);
	-ms-transform:translateX(60%);
	-o-transform:translateX(60%);
}
.top-search .box-search input#search:focus {
	padding:8px 15px 8px 40px;
	caret-color:#e7ba04;
}
.top-search .box-search .product-count {
	position:absolute;
	top:11px;
	right:22px;
	font-size:12px;
	line-height:1;
	color:#bdbdbd;
	font-weight:500;
	text-align:right;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
	transform:translateX(-60%);
	-webkit-transform:translateX(-60%);
	-moz-transform:translateX(-60%);
	-ms-transform:translateX(-60%);
	-o-transform:translateX(-60%);
}
.top-search .box-search input#search:focus + .icon-search-left + .icon-search-right + .product-count {
	transform:translateX(0);
	-webkit-transform:translateX(0);
	-moz-transform:translateX(0);
	-ms-transform:translateX(0);
	-o-transform:translateX(0);
}
.top-search .box-search .product-count span {
	display:block;
	font-size:14px;
	font-weight:700;
	margin-bottom:2px;
}
.top-search .box-search .search-suggestions {
	width:100%;
	overflow:hidden;
	visibility:hidden;
	position:absolute;
	top:100px;
	left:0;
	z-index:11;
	opacity:0;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

/* Search Sugguestions */
.search-suggestions .box-suggestions {
	width:100%;
	float:left;
	background:#ffffff;
	max-height:374px;
	padding:15px;
	letter-spacing:0.5px;
	border:1px solid #D2D4D6;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	overflow-x:hidden;
}
.search-suggestions .box-suggestions.on-progress:after {
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:5;
	background-color:rgba(255, 255, 255, 0.9);
	background-image:url("../images/icon/round-loading.svg");
	-webkit-background-size:24px auto;
	background-size:24px auto;
	background-position:center;
	background-repeat:no-repeat;
}
.search-suggestions .box-suggestions .title-books,
.search-suggestions .box-suggestions .title-writers {
	margin-bottom:16px;
}
.search-suggestions .box-suggestions h4 {
	font-size:14px;
	font-weight:600;
	margin-bottom:16px;
}
.search-suggestions .box-suggestions ul li {
	font-size:14px;
	font-weight:900;
	margin-bottom:8px;
	overflow:hidden;
}
.user-navigation-container {
	padding:16px 0;
	display:flex;
}

/* Header Mobile
-------------------------------------------------------------- */
#header .header-mobile {
	background-color:#fafbfc;
	border-bottom:1px solid transparent
}
#header .header-mobile .logo {
	margin:8px 0;
}
#header .header-mobile.brdr {
	border-color:#d2d4d6;
}
.header-mobile .search-button a {
	position:absolute;
	width:12px;
	height:12px;
	right:62px;
	z-index:11;
	top:50%;
	transform:translate(0,-50%);
	-webkit-transform:translate(0,-50%);
	-moz-transform:translate(0,-50%);
	-ms-transform:translate(0,-50%);
	-o-transform:translate(0,-50%);
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.header-mobile .search-button a.active {
	right:20px;
}
.header-mobile .top-search {
	float:right;
}
.header-mobile .top-search .box-search .icon-search-right {
	display:none;
}
.header-mobile .top-search .box-search .product-count {
	top:15px;
	right:45px;
	transform:unset;
	-webkit-transform:unset;
	-moz-transform:unset;
	-ms-transform:unset;
	-o-transform:unset;
}
.header-mobile .top-search .box-search .product-count span{
	font-size:13px;
}
.header-mobile .top-search .box-search {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:-2;
	opacity:0;
	transition:opacity 0.3s ease-in-out;
	-webkit-transition:opacity 0.3s ease-in-out;
	-moz-transition:opacity 0.3s ease-in-out;
	-ms-transition:opacity 0.3s ease-in-out;
	-o-transition:opacity 0.3s ease-in-out;
}
.header-mobile .top-search .box-search input {
	height:52.5px;
	border:none;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
}
.header-mobile .top-search .box-search.show {
	opacity:1;
	z-index:10;
}
.header-mobile .top-search .box-search.show input {
	padding: 8px 18px;
	background-color:#fff;
	border-bottom:1px solid #d2d4d6;
}
.header-mobile .search-suggestions .box-suggestions {
	border:none;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
}
.header-mobile .search-button .search-toggle:before,
.header-mobile .search-button .search-toggle:after {
	content:'';
	position:absolute;
	display:block;
	transition:all 0.1s;
	-webkit-transition:all 0.1s;
	-moz-transition:all 0.1s;
	-ms-transition:all 0.1s;
	-o-transition:all 0.1s;
}
.header-mobile .search-button .search-toggle:before {
	border:2px solid #e7ba04;
	width:100%;
	height:100%;
	left:-2px;
	top:-2px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
}
.header-mobile .search-button .search-toggle:after {
	height:2px;
	width:7px;
	background:#e7ba04;
	top:10px;
	left:8px;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
}
.header-mobile .search-button .search-toggle.active:before {
	width:0;
	border-width:1px;
	top:-1px;
	left:4px;
	border-color:#222c37;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
}
.header-mobile .search-button .search-toggle.active:after {
	width:12px;
	left:-1px;
	top:4px;
	background:#222c37;
}

/* Menu Mega
-------------------------------------------------------------- */
#mega-menu {
	width:160px;
	height:48px;
	margin-right:30px;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
}
#mega-menu > .btn-mega {
	font-size:14px;
	font-weight:600;
	width:160px;
	height:48px;
	line-height:48px;
	padding-left:42px;
	border:1px solid transparent;
	color:#222c37;
	position:relative;
	z-index:98;
	cursor:pointer;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
}
#mega-menu:hover .btn-mega {
	border-color:#222c37;
	color:#222c37;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
}
#mega-menu:hover .btn-mega > span,
#mega-menu:hover .btn-mega > span:before,
#mega-menu:hover .btn-mega > span:after {
	background-color:#222c37;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
}
#mega-menu:hover .menu {
	top:calc(100% - 0px);
	visibility:visible;
	opacity:1;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
}
#mega-menu > .btn-mega > span {
	position:absolute;
	height:2px;
	width:17px;
	top:23px;
	left:15px;
	background-color:#222c37;
	display:inline-block;
}
#mega-menu > .btn-mega > span:before {
	content:'';
	position:absolute;
	height:2px;
	width:17px;
	top:-5px;
	left:0;
	background-color:#222c37;
}
#mega-menu > .btn-mega > span:after {
	content:'';
	position:absolute;
	height:2px;
	width:17px;
	top:5px;
	left:0;
	background-color:#222c37;
}
#mega-menu > .menu {
	position:absolute;
	z-index:90;
	width:1140px;
	min-height:384px;
	padding:24px 32px;
	visibility:hidden;
	opacity:0;
	background-color:#fafbfc;
	top:calc(100% - 4px);
	left:50%;
	transform:translate(-50%, 0);
	-webkit-transform:translate(-50%, 0);
	-moz-transform:translate(-50%, 0);
	-ms-transform:translate(-50%, 0);
	-o-transform:translate(-50%, 0);
	transition:all 0.2s ease-out;
	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	-ms-transition:all 0.2s ease-out;
	-o-transition:all 0.2s ease-out;
}
#mega-menu > .menu:before {
	content:"";
	width:100%;
	height:17px;
	display:block;
	position:absolute;
	top:-17px;
	left:0;
}
#mega-menu > .menu .cat-title {
	font-size:18px;
	font-weight:600;
	margin-bottom:16px;
}
#mega-menu > .menu ul.menu-child li {
	float:left;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
#mega-menu > .menu ul.menu-child.sort-series li {
	width:50%;
}
#mega-menu > .menu ul.menu-child.sort-age li {
	width:50%;
}
#mega-menu > .menu ul.menu-child.sort-age li a span {
	display:inline-block;
	min-width:46px;
}
#mega-menu > .menu ul.menu-child li a {
	position:relative;
	font-size:16px;
	font-weight:500;
	color:#667483;
	display:inline-block;
	margin-bottom:8px;
}
#mega-menu > .menu ul.menu-child li a:before {
	content:"";
	position:absolute;
	width:0;
	height:2px;
	bottom:-1px;
	right:0;
	background-color:#e7ba04;
	transition:width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
	-webkit-transition:width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
	-moz-transition:width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
	-ms-transition:width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
	-o-transition:width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
}
#mega-menu > .menu ul.menu-child li a:hover {
	color:#e7ba04;
}
#mega-menu > .menu ul.menu-child li a:hover:before {
	width:100%;
	left:0;
}

/* Button Menu */
.btn-menu {
	display:none;
	position:absolute;
	background:transparent;
	cursor:pointer;
	width:20px;
	height:20px;
	padding:15px;
	z-index:9;
	right:16px;
	top:50%;
	transform:translate(0,-50%);
	-webkit-transform:translate(0,-50%);
	-moz-transform:translate(0,-50%);
	-ms-transform:translate(0,-50%);
	-o-transform:translate(0,-50%);
	transition:all ease .238s;
	-webkit-transition:all ease .238s;
	-moz-transition:all ease .238s;
	-ms-transition:all ease .238s;
	-o-transition:all ease .238s;
}
.btn-menu:before,
.btn-menu:after,
.btn-menu span {
	background-color:#222c37;
	-webkit-transition:all ease .238s;
	-moz-transition:all ease .238s;
	transition:all ease .238s;
}
.btn-menu:before,
.btn-menu:after {
	content:'';
	position:absolute;
	height:2px;
	width:25px;
	left:5px;
	top:50%;
	-webkit-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	transform-origin:50% 50%;
}
.btn-menu span {
	position:absolute;
	width:25px;
	height:2px;
	left:5px;
	top:50%;
	overflow:hidden;
	text-indent:200%;
}
.btn-menu:before {
	-webkit-transform:translate3d(0, -7px, 0);
	transform:translate3d(0, -7px, 0);
}
.btn-menu:after {
	width:25px;
	-webkit-transform:translate3d(0, 7px, 0);
	transform:translate3d(0, 7px, 0);
}
.btn-menu.active:after {
	width:25px;
}
.btn-menu.active span {
	opacity:0;
}
.btn-menu.active:before {
	-webkit-transform:rotate3d(0, 0, 1, 45deg);
	transform:rotate3d(0, 0, 1, 45deg);
}
.btn-menu.active:after {
	-webkit-transform:rotate3d(0, 0, 1, -45deg);
	transform:rotate3d(0, 0, 1, -45deg);
}

/* Mainnav-Mobi */
#mainnav-mobi {
	display:none;
	margin:0 auto;
	width:100%;
	position:absolute;
	left:0;
	z-index:11;
	background-color:#fafbfc;
	padding:16px;
}
#mainnav-mobi .mobinav-menu .btn-mega,
#mainnav-mobi .mobinav-menu .btn-store a {
	font-size:14px;
	font-weight:600;
	width:100%;
	height:40px;
	line-height:40px;
	letter-spacing:0.4375px;
	padding-left:16px;
	margin-bottom:16px;
	background-color:#e7ba04;
	color:#ffffff;
	cursor:pointer;
	position:relative;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
}
#mainnav-mobi .mobinav-menu .btn-mega {
	padding-left:45px;
}
#mainnav-mobi .mobinav-menu .btn-mega:before {
	content:"";
	background-image:url("../images/icon/mobile-menu.svg");
	background-repeat:no-repeat;
	background-position:center;
	position:absolute;
	width:26px;
	height:20px;
	top:10px;
	left:14px;
}
#mainnav-mobi .mobinav-menu .btn-mega.active:before {
	background-image:url("../images/icon/mobile-menu-back.svg");
}
#mainnav-mobi .mobinav-menu .btn-mega.active {
	background-color:#fafbfc;
	color:#222c37;
}
#mainnav-mobi .mobinav-menu .btn-store img {
	margin-right:10px;
}
#mainnav-mobi .mobinav-menu .btn-store a {
	display:block;
	background-color:#283891;
	margin-bottom:24px;
}
#mainnav-mobi .mobinav-menu .menu {
	display:none;
	padding:0 16px 24px 16px;
}
#mainnav-mobi .mobinav-menu .menu li {
	margin-bottom:12px;
}
#mainnav-mobi .mobinav-menu .menu li a {
	font-size:16px;
	font-weight:500;
	color:#677483;
}
#mainnav-mobi .mobinav-links {
	margin-bottom:98px;
}
#mainnav-mobi .mobinav-links li {
	margin-bottom:16px
}
#mainnav-mobi .mobinav-links li a {
	font-size:16px;
	font-weight:500;
	color:#677483;
}
#mainnav-mobi .mobinav-social {
	display:flex;
	justify-content:center;
}
#mainnav-mobi .mobinav-social li:not(:last-child) {
	margin-right:16px;
}
#mainnav-mobi .mobinav-social li a {
	width:31px;
	height:31px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
}
#mainnav-mobi .mobinav-social .social-facebook {
	background:url("../images/icon/social-facebook-mob.svg") no-repeat center center;
}
#mainnav-mobi .mobinav-social .social-instagram {
	background:url("../images/icon/social-instagram-mob.svg") no-repeat center center;
}
#mainnav-mobi .mobinav-social .social-youtube {
	background:url("../images/icon/social-youtube-mob.svg") no-repeat center center;
}

/* Online Store */
.online-store-container {
	position:relative;
	display:flex;
	padding:16px 0;
}
.online-store-container a {
	font-size:14px;
	font-weight:600;
	width:160px;
	height:48px;
	line-height:48px;
	padding-left:8px;
	background-color:#283891;
	color:#ffffff;
	position:relative;
	cursor:pointer;
	text-align:center;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	border:1px solid transparent;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
}
.online-store-container a:hover {
	background-color:#ffffff;
	color:#283891;
	border:1px solid #283891;
}
.online-store-container > a:before {
	background-image:url("../images/icon/cart.svg");
	background-repeat:no-repeat;
	background-position:center 1px;
	background-size:cover;
	content:"";
	width:20px;
	height:20px;
	position:absolute;
	top:13px;
	left:15px;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
}
.online-store-container > a:hover:before {
	background-image:url("../images/icon/cart-hover.svg");
}

/* Flat Slider
-------------------------------------------------------------- */
.flat-slider {
	padding:0px 0 0px;
	margin-bottom:48px;
}
.slider {
	overflow:hidden;
	background-color:#ffffff;
}
.slider .owl-stage-outer {
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
}
.slider .slider-item {
	position:relative;
	overflow:hidden;
	background-color:transparent;
	min-height:336px;
}
.slider .slider-item .bg-image {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-1;
}
.slider .slider-item img.bg-image {
	-o-object-fit:cover;
	object-fit:cover;
	font-family:'object-fit: cover;'
}
.slider .slider-item .item-text {
	padding:46px 36px;
}
.slider .slider-item .item-text h2 {
	color:#ffffff;
	font-size:40px;
	font-weight:700;
	line-height:48px;
	letter-spacing:0.5px;
	margin-bottom:30px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.slider .slider-item .item-text p {
	color:#ffffff;
	font-size:18px;
	font-weight:500;
	line-height:22px;
	letter-spacing:0.225px;
	margin-bottom:65px;
	max-height:44px;
	overflow:hidden;
}
.slider .slider-item .btn-shop a {
	font-size:14px;
	line-height:46px;
	font-weight:500;
	letter-spacing:0.5px;
	display:inline-block;
	padding:0 58px;
	color:#222c37;
	background-color:#ffffff;
	border:1px solid #ffffff;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
}
.slider .slider-item .btn-shop a:hover {
	color:#ffffff;
	background:#e7ba04;
	border-color:#e7ba04;
}
.main-slider .owl-controls {
	position:absolute;
	left:50%;
	bottom:6px;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-o-transform:translateX(-50%);
}
.main-slider.owl-theme .owl-controls .owl-dots .owl-dot.active span,
.main-slider.owl-theme .owl-controls .owl-dots .owl-dot.active span:after {
	background-color:#ffffff;
	border-color:#ffffff;
}
.main-slider.owl-theme .owl-controls .owl-dots .owl-dot:hover span,
.main-slider.owl-theme .owl-controls .owl-dots .owl-dot:hover span:after {
	background-color:#ffffff;
	border-color:#ffffff;
}
.main-slider.owl-theme .owl-controls .owl-dots .owl-dot span {
	border-color:#ffffff;
}

@keyframes squarehover {
	0% {
		opacity:0;
		transform:scale(0.3);
		-webkit-transform:scale(0.3);
		-moz-transform:scale(0.3);
		-ms-transform:scale(0.3);
		-o-transform:scale(0.3);
	}
	40% {
		opacity:1;
	}
	100% {
		opacity:0;
		transform:scale(2);
		-webkit-transform:scale(2);
		-moz-transform:scale(2);
		-ms-transform:scale(2);
		-o-transform:scale(2);
	}
}
@-webkit-keyframes squarehover {
	0% {
		opacity:0;
		-webkit-transform:scale(0.3);
	}
	40% {
		opacity:1;
	}
	100% {
		-webkit-transform:scale(2);
		opacity:0;
	}
}
@-moz-keyframes squarehover {
	0% {
		opacity:0;
		-moz-transform:scale(0.3);
	}
	40% {
		opacity:1;
	}
	100% {
		-moz-transform:scale(2);
		opacity:0;
	}
}
/*==== cssload-spin ====*/
@keyframes cssload-spin {
	100% {
		transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
		-moz-transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		-o-transform:rotate(360deg);
	}
}

@-o-keyframes cssload-spin {
	100% {
		transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
		-moz-transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		-o-transform:rotate(360deg);
	}
}

@-ms-keyframes cssload-spin {
	100% {
		transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
		-moz-transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		-o-transform:rotate(360deg);
	}
}

@-webkit-keyframes cssload-spin {
	100% {
		transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
		-moz-transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		-o-transform:rotate(360deg);
	}
}

@-moz-keyframes cssload-spin {
	100% {
		transform:rotate(360deg);
		-moz-transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		-o-transform:rotate(360deg);
	}
}
/*==== cssload-spin ====*/

/* Flat Imagebox
-------------------------------------------------------------- */
.flat-imagebox {
	margin-bottom:48px;
}
.flat-imagebox.home {
	background:#f8f8f8;
	padding-bottom:32px;
}
.flat-imagebox .flat-row-title {
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.flat-imagebox .flat-row-title h1 {
	margin:32px 0;
	font-weight:600;
	letter-spacing:1px;
	display:inline-block;
}
.flat-imagebox.home .product-box,
.flat-imagebox.single .product-box {
	background-color:#f0f0f0;
}

/* Product Box */
.product-box {
	position:relative;
	height:374px;
	margin-bottom:30px;
	border:1px solid transparent;
	background-color:#f8f8f8;
	overflow:hidden;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
}
.product-box:hover {
	z-index:9;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
	/* filter:drop-shadow(0px 4px 32px rgba(210, 212, 214, 0.574273)); */
	/* -webkit-filter:drop-shadow(0px 4px 32px rgba(210, 212, 214, 0.574273)); */
	border-color:#d2d4d6;
}
.product-box:hover a,
.product-box:focus a {
	color:#222c37;
}
.product-box a:hover,
.product-box a:focus {
	color:#222c37;
}
.product-box .box-image {
	margin-top:16px;
	margin-bottom:16px;
	height:200px;
	text-align: center;
}
.product-box .box-image img {
	width:100%;
	height:100%;
	-o-object-fit:contain;
	object-fit:contain;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
}
.product-box .box-content {
	height:140px;
	padding:0 10px 16px 10px;
	text-align:center;
	font-size:16px;
	letter-spacing:0.3px;
}
.product-box .box-content .product-name {
	height:38px;
	overflow:hidden;
	margin-bottom:6px;
}
.product-box .box-content .product-name h4 {
	font-size:16px;
	font-weight:900;
}
.product-box .box-content .product-author,
.product-box .box-content .product-cat {
	margin-bottom:6px;
}
.product-box .box-content .product-author a,
.product-box .box-content .product-cat a {
	font-weight:600;
	display:block;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.product-box .box-content .product-cat a {
	color:#878787;
}
.product-box .box-content .product-price {
	font-weight:700;
	text-transform:uppercase;
}
.product-box .box-content .product-price span{
	font-family:'JISAZN';
	font-weight:700;
	text-transform:uppercase;
}
.product-box .box-content .product-name a:hover,
.product-box .box-content .product-author a:hover,
.product-box .box-content .product-cat a:hover {
	color:#e7ba04;
}

/* Imagebox Pagination */
ul.flat-pagination {
	overflow: hidden;
	display:flex;
	flex-direction:row;
}
ul.flat-pagination li a {
	display:block;
	width:32px;
	height:32px;
	line-height:30px;
	margin-right:8px;
	text-align:center;
	font-weight:500;
	letter-spacing:0.4375px;
	color:#878787;
	border:1px solid #d2d4d6;
	overflow:hidden;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
ul.flat-pagination li.active a,
ul.flat-pagination li a:hover {
	background-color:#e7ba04;
	color:#ffffff;
	border-color:#e7ba04;
}
ul.flat-pagination li.active a,
ul.flat-pagination li.hidden a {
	pointer-events:none;
	cursor:auto;
}
ul.flat-pagination li.prev.hidden a,
ul.flat-pagination li.next.hidden a {
	background-color:#fafbfc;
}
ul.flat-pagination li.prev > a,
ul.flat-pagination li.next > a {
	position:relative;
}
ul.flat-pagination li.prev a:before,
ul.flat-pagination li.next a:before {
	background:url("../images/icon/fast-forward.svg") no-repeat center;
	content:"";
	width:24px;
	height:24px;
	position:absolute;
	top:3px;
	left:5px;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
}
ul.flat-pagination li.prev a:before {
	left:3px;
	transform:scaleX(-1);
	-webkit-transform:scaleX(-1);
	-moz-transform:scaleX(-1);
	-ms-transform:scaleX(-1);
	-o-transform:scaleX(-1);
}
ul.flat-pagination li.prev a:hover:before,
ul.flat-pagination li.next a:hover:before {
	background:url("../images/icon/fast-forward-hover.svg") no-repeat center;
}

/* Sidebar
-------------------------------------------------------------- */
.sidebar {
	margin:30px 0;
	padding:0 16px;
	/* background:#fafbfc; */
	background:#ffffff;
	border:1px solid #d2d4d6;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	position:relative;
	z-index:10;
}
.sidebar .sidebar-child {
	margin-bottom:16px;
}
.sidebar .sidebar-child li {
	margin-bottom:4px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.sidebar .sidebar-title {
	font-weight:700;
	margin:16px 0 12px 0;
}
.sidebar .sidebar-menu.sort-age {
	display:flex;
	flex-wrap:wrap;
}
.sidebar .sidebar-menu.sort-age li {
	width:50%;
}
.sidebar .sidebar-menu li a {
	position:relative;
	font-size:16px;
	font-weight:500;
	color:#667483;
}
.sidebar .sidebar-menu li a:hover {
	color:#e7ba04;
}
.sidebar .sidebar-menu li a:before {
	content:"";
	position:absolute;
	width:0;
	height:2px;
	bottom:-1px;
	right:0;
	background-color:#e7ba04;
	transition:width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
	-webkit-transition:width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
	-moz-transition:width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
	-ms-transition:width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
	-o-transition:width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
}
.sidebar .sidebar-menu li a:hover:before {
	width:100%;
	left:0;
}
.sidebar .sidebar-menu.sort-age li a span {
	display:inline-block;
	min-width:38px;
}
.sidebar .sidebar-menu li.check-box {
	position:relative;
	padding-left:20px;
	margin-bottom:2px;
	line-height:24px;
}
.sidebar .sidebar-menu li.check-box input[type=checkbox] {
	position:absolute;
	left:12px;
	opacity:0;
}
.sidebar .sidebar-menu li.check-box label {
	position:relative;
	font-size:16px;
	font-weight:500;
	color:#667483;
	padding-left:0;
	display:inline;
}
.sidebar .sidebar-menu li.check-box label:before {
	content:"";
	display:inline-block;
	position:absolute;
	width:16px;
	height:16px;
	left:0;
	top:0;
	margin-left:-20px;
	border:2px solid #e7e7e7;
	background-color:#fff;
	transition:border 0.15s ease-in-out, color 0.15s ease-in-out;
	-webkit-transition:border 0.15s ease-in-out, color 0.15s ease-in-out;
	-o-transition:border 0.15s ease-in-out, color 0.15s ease-in-out;
	-moz-transition:border 0.15s ease-in-out, color 0.15s ease-in-out;
	-ms-transition:border 0.15s ease-in-out, color 0.15s ease-in-out;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
}
.sidebar .sidebar-menu li.check-box label:after {
	content:'';
	display:inline-block;
	position:absolute;
	width:16px;
	height:16px;
	left:0;
	top:-4px;
	margin-left:-20px;
	padding-left:3px;
	padding-top:1px;
	font-size:11px;
	color:#555555;
}
input[type="checkbox"]:checked + label:before {
	background-color:#283891;
}
.check-box input[type="checkbox"]:checked + label:before {
	background-color:#283891;
	border-color:#283891;
}
.check-box input[type="checkbox"]:checked + label:after {
	color:#fff;
	font-family:'FontAwesome';
	content:"\f00c";
}
.sidebar .sidebar-menu li.check-box label span {
	display:inline-block;
	min-width:38px;
}

/* Flat Imagebox Writers
-------------------------------------------------------------- */
.flat-imagebox.writers {
	position:relative;
	padding-bottom:16px;
}
.flat-imagebox.writers:before {
	content:"";
	position:absolute;
	mix-blend-mode:normal;
	background-color:#f1f4f6;
	opacity:0.4;
	width:100%;
	height:100%;
	top:0;
	left:0;
}
.imagebox.writer {
	height:367px;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.imagebox.writer .box-image {
	height:247px;
	text-align:center;
}
.imagebox.writer .box-image img {
	display:block;
	width:100%;
	height:100%;
	-o-object-fit:cover;
	object-fit:cover;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
}
.imagebox.writer .box-content .writer-name h4 {
	font-size:16px;
	font-weight:600;
	letter-spacing:0.5px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	margin-top:24px;
}
.imagebox.writer .box-content .writer-details a {
	display:block;
	font-size:14px;
	font-weight:500;
	line-height:40px;
	text-align:center;
	width:100%;
	height:40px;
	margin-top:32px;
	letter-spacing:0.4375px;
	background-color:#f1f4f6;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
}
.imagebox.writer .box-content .writer-details a:hover {
	background-color:#e7ba04;
	color:#ffffff;
}
.writers-carousel.owl-theme .owl-controls .owl-dots .owl-dot.active span,
.writers-carousel.owl-theme .owl-controls .owl-dots .owl-dot.active span:after,
.projects-slider.owl-theme .owl-controls .owl-dots .owl-dot.active span,
.projects-slider.owl-theme .owl-controls .owl-dots .owl-dot.active span:after,
.similar-carousel.owl-theme .owl-controls .owl-dots .owl-dot.active span,
.similar-carousel.owl-theme .owl-controls .owl-dots .owl-dot.active span:after {
	background-color:#d2d4d6;
	border-color:#d2d4d6;
}
.writers-carousel.owl-theme .owl-controls .owl-dots .owl-dot:hover span,
.writers-carousel.owl-theme .owl-controls .owl-dots .owl-dot:hover span:after,
.projects-slider.owl-theme .owl-controls .owl-dots .owl-dot:hover span,
.projects-slider.owl-theme .owl-controls .owl-dots .owl-dot:hover span:after,
.similar-carousel.owl-theme .owl-controls .owl-dots .owl-dot:hover span,
.similar-carousel.owl-theme .owl-controls .owl-dots .owl-dot:hover span:after {
	background-color:#d2d4d6;
	border-color:#d2d4d6;
}
.writers-carousel.owl-theme .owl-controls .owl-dots .owl-dot span,
.projects-slider.owl-theme .owl-controls .owl-dots .owl-dot span,
.similar-carousel.owl-theme .owl-controls .owl-dots .owl-dot span {
	border-color:#d2d4d6;
}
.writers-carousel.owl-theme .owl-controls .owl-dots {
	padding-top:30px;
}
.writers-carousel,
.similar-carousel {
	display:none;
}
.no-js .writers-carousel,
.no-js .similar-carousel {
	display:block;
}
.writers-carousel.owl-loaded,
.similar-carousel.owl-loaded {
	display:block;
}

/* Flat Projects
-------------------------------------------------------------- */
.flat-projects .flat-row-title h1 {
	margin:32px 0;
	font-weight:600;
	letter-spacing:1px;
}
.slider.projects-slider .slider-item {
	min-height:304px;
}
.projects-slider .slider-item a{
	width:100%;
	height:304px;
}
.projects-slider.owl-theme .owl-controls .owl-dots {
	padding-top:32px;
}

/* Flat Newsletter
-------------------------------------------------------------- */
.flat-newsletter {
	position:relative;
	height:332px;
	margin-top:34px;
	margin-bottom:64px;
}
.flat-newsletter:before {
	content:"";
	position:absolute;
	mix-blend-mode: normal;
	background-color:#f1f4f6;
	opacity:0.4;
	width:100%;
	height:100%;
	top:0;
	left:0;
}
.flat-newsletter .newsletter-title h1 {
	margin:56px 0 24px 0;
	font-weight:600;
	letter-spacing:1px;
}
.flat-newsletter p {
	font-size:18px;
	font-weight:500;
	letter-spacing:0.225px;
	margin-bottom:48px;
}
.flat-newsletter .subscribe-content {
	display:flex;
	position:relative;
	white-space: nowrap;
}
.flat-newsletter .subscribe-content input {
	width:400px;
	height:56px;
	font-size:14px;
	font-weight:500;
	letter-spacing:0.175px;
	color:#d2d4d6;
	background-color:#f1f4f6;
	border:1px solid #d2d4d6;
	padding-left:45px;
	margin-right:16px;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
}
.flat-newsletter .subscribe-content .icon-newsletter {
	position:absolute;
	top:16px;
	left:16px;
}
.flat-newsletter .subscribe-content button {
	height:56px;
	padding:0 44px;
	font-size:14px;
	font-weight:500;
	letter-spacing:0.175px;
	background-color:#e7ba04;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	opacity:1;
}
.flat-newsletter .subscribe-content button:disabled {
	opacity:0.9;
	cursor:default;
}

/* Footer */
footer {
	min-height:590px;
	background-color:#222c37;
	position:relative;
}
.logo-ft {
	margin-top:60px;
}
.logo-ft a img {
	width:162px;
}
.widget-ft.widget-social {
	margin-top:62px;
	text-align:right;
}
.widget-ft.widget-social ul li {
	display:inline-block;
}
.widget-ft.widget-social ul li p {
	font-size:16px;
	font-weight:500;
	color:#ffffff;
	margin-right:24px;
}
.widget-ft.widget-social ul li a {
	width:31px;
	height:31px;
	margin-left:20px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
}
.widget-ft.widget-social ul li a:hover {
	box-shadow:1px 0.5px 11px rgba(241, 241, 241, 0.755272);
}
.widget-ft.widget-social .social-facebook {
	background:url("../images/icon/social-facebook.svg") no-repeat center center;
}
.widget-ft.widget-social .social-instagram {
	background:url("../images/icon/social-instagram.svg") no-repeat center center;
}
.widget-ft.widget-social .social-youtube {
	background:url("../images/icon/social-youtube.svg") no-repeat center center;
}
.widget-ft.widget-categories,
.widget-ft.widget-categories-age {
	margin-top:107px;
}
.widget-ft.widget-categories li,
.widget-ft.widget-categories-age li {
	float:left;
	width:33%;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.widget-ft.widget-categories li a,
.widget-ft.widget-categories-age li a {
	display:inline-block;
	font-size:16px;
	font-weight:500;
	color:#f9f9f9;
	margin-bottom:16px;
}
.widget-ft.widget-categories li a:hover,
.widget-ft.widget-categories-age li a:hover {
	color:#e7ba04;
}
.widget-ft.widget-categories-age li a span {
	display:inline-block;
	min-width:50px;
}
.widget-ft.widget-menu {
	position:relative;
	margin-top:33px;
}
.widget-ft.widget-menu:before {
	content:"";
	position:absolute;
	top:0;
	left:50%;
	width:100vw;
	height:1px;
	background-color:#d2d4d6;
	transform: translateX( -50%);
	-webkit-transform: translateX( -50%);
	-moz-transform: translateX( -50%);
	-ms-transform: translateX( -50%);
	-o-transform: translateX( -50%);
}
.widget-ft.widget-menu li {
	display: inline-block;
}
.widget-ft.widget-menu li a {
	display:block;
	color:#677483;
	font-size:16px;
	font-weight:500;
	margin-top:32px;
	margin-right:40px;
}
.widget-ft.widget-menu li a:hover {
	color:#f9f9f9;
}
.footer-main .copyright {
	padding:36px 0;
}
.footer-main .copyright p {
	font-size:16px;
	font-weight:900;
	color:#677483;
}
.mobile-lang {
	position:absolute;
	width:80px;
	left:16px;
	bottom:16px;
}
.mobile-lang:before {
	content:'\f107';
	position:absolute;
	font-family:'fontawesome';
	font-size:14px;
	top:4px;
	right:25px;
	z-index:0;
}
.mobile-lang > select {
	font-size:13px;
	font-weight:500;
	height:32px;
	width:63px;
	line-height:33px;
	padding:0 14px;
	border:1px solid #CDCDCD;
}

/* Flat BreadCrumb
-------------------------------------------------------------- */
.flat-breadcrumb {
	background:#fafbfc;
	min-height:64px;
}
.flat-breadcrumb ul.breadcrumbs li {
	display:inline-block;
	vertical-align:middle;
	margin-top:20px;
}
.flat-breadcrumb ul.breadcrumbs li.trail-item {
	margin-right:9px;
}
.flat-breadcrumb ul.breadcrumbs li.trail-item a {
	margin-right:9px;
	color:#222c37;
	font-size:16px;
	font-weight:500;
	letter-spacing:0.5px;
}
.flat-breadcrumb ul.breadcrumbs li.trail-item a:hover {
	color:#e7ba04;
}
.flat-breadcrumb ul.breadcrumbs li.trail-item span {
	vertical-align:top;
}
.flat-breadcrumb ul.breadcrumbs li.trail-end a {
	color:#222c37;
	font-size:16px;
	font-weight:500;
	letter-spacing:0.5px;
	mix-blend-mode:normal;
	opacity:0.51;
	overflow:hidden;
	pointer-events: none;
	cursor:auto;
}

/* Sort Product */
.flat-row-title .sort {
	float:right;
}
.flat-row-title .sort > div {
	display:inline-block;
	position:relative;
	margin:30px 0;
}
.flat-row-title .sort > div.popularity:before {
	content:'\f107';
	position:absolute;
	font-family:'FontAwesome';
	font-size:14px;
	font-weight:600;
	top:12px;
	right:16px;
	z-index:-1;
}
.flat-row-title .sort > div select {
	color:#222c37;
	font-size:14px;
	letter-spacing:0.4375px;
	border:1px solid #d2d4d6;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
}
.flat-row-title .sort > div.popularity select {
	height:48px;
	width:178px;
	padding:2px 16px;
}

/* Flat Imagebox Single
-------------------------------------------------------------- */
.flat-imagebox.single {
	position:relative;
	padding-bottom:16px;
	height:566px;
}
.flat-imagebox.single:before {
	content:"";
	position:absolute;
	mix-blend-mode:normal;
	background-color:#f1f4f6;
	opacity:0.4;
	width:100%;
	height:100%;
	top:0;
	left:0;
}

/* Similar Carousel */
.similar-carousel.owl-theme .owl-dots .owl-dot {
	display:inline-block;
}
.similar-carousel.owl-theme .owl-controls .owl-dots {
	padding:0px;
}
.flat-imagebox.single .similar-carousel.owl-theme .owl-controls .owl-nav div.owl-prev,
.flat-imagebox.single .similar-carousel.owl-theme .owl-controls .owl-nav div.owl-next {
	border-radius:50%;
	left:-72px;
	margin-top:-60px;
	background-color:#ffffff;
	box-shadow:0px 4px 32px rgba(34, 44, 55, 0.103475);
}
.flat-imagebox.single .similar-carousel.owl-theme .owl-controls .owl-nav div.owl-next {
	right:-72px;
	left:auto;
}
.flat-imagebox.single .similar-carousel.owl-theme .owl-controls .owl-nav div.owl-prev:before,
.flat-imagebox.single .similar-carousel.owl-theme .owl-controls .owl-nav div.owl-next:before {
	color:#222c37;
	font-size:15px;
}
.flat-imagebox.single .similar-carousel.owl-theme .owl-controls .owl-nav div.owl-prev:before {
	content:'\f060';
}
.flat-imagebox.single .similar-carousel.owl-theme .owl-controls .owl-nav div.owl-next:before {
	content:'\f061';
}

/* Single Product
-------------------------------------------------------------- */
.flat-product-detail {
	padding:48px 0 32px 0;
}
.product-detail-side {
	text-align:right;
}
.product-detail-side .detail-imagebox {
	display:inline-block;
	position:relative;
	text-align:center;
	padding:35px 0;
	margin-bottom:24px;
	margin-left:auto;
	width:370px;
	border:1px solid #d2d4d6;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
}
.product-detail-side .detail-imagebox img {
	display:block;
	margin:auto;
	max-width:276px;
	border-radius:6.49412px;
	-webkit-border-radius:6.49412px;
	-moz-border-radius:6.49412px;
	-ms-border-radius:6.49412px;
	-o-border-radius:6.49412px;
}
.zoom img::selection {
	background-color:transparent;
}
.product-detail-side .detail-pages {
	width:370px;
	margin-left:auto;
	margin-bottom:24px;
}
.product-detail-side .detail-pages h4 {
	font-weight:600;
	text-align:left;
	margin-bottom:16px;
}
.product-detail-side .detail-pages ul {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.product-detail-side .detail-pages ul li {
	width:85px;
	margin-bottom:10px;
	border:1px solid #d2d4d6;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
}
.product-detail-side .detail-to-cart a {
	display:inline-block;
	text-align:center;
	width:370px;
	height:48px;
	margin-bottom:24px;
	background-color:#283891;
	color:#ffffff;
	font-size:14px;
	font-weight:500;
	line-height:48px;
	letter-spacing:0.4375px;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
}
.product-detail-main {
	width:570px;
}
.product-detail-main .detail-name .name-author {
	display:inline-block;
	font-size:18px;
	margin-right:8px;
	margin-bottom:24px;
	mix-blend-mode:normal;
	opacity:0.5;
	font-weight:500;
	letter-spacing:0.75px;
}
.product-detail-main .detail-name .name-author:hover {
	text-decoration:underline;
	color:#222c37;
}
.product-detail-main .detail-name .name-book {
	font-size:24px;
	margin-bottom:17px;
	font-weight:900;
	letter-spacing:0.5625px;
}
.product-detail-main .detail-prop {
	padding:16px 0;
	margin-bottom:24px;
	border-top:1px solid #d2d4d6;
	border-bottom:1px solid #d2d4d6;
}
.product-detail-main .detail-prop table {
	width:100%;
	border-collapse:separate;
	border-spacing: 0 8px;
}
.product-detail-main .detail-prop table tr {
	height:32px;
	background-color:#f1f4f6;
}
.product-detail-main .detail-prop table tr td:first-child {
	font-size:16px;
	font-weight:600;
	letter-spacing:0.5px;
	padding-left:16px;
	vertical-align: middle;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
}
.product-detail-main .detail-prop table tr td:last-child {
	font-size:16px;
	font-weight:500;
	letter-spacing:0.5px;
	color:#677483;
	text-transform:uppercase;
	padding-right:16px;
	vertical-align: middle;
	text-align:right;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
}
.product-detail-main .detail-prop table tr td:last-child span {
	font-family:'JISAZN';
}
.product-detail-main .detail-content h1,
.product-detail-main .detail-content h2,
.product-detail-main .detail-content h3,
.product-detail-main .detail-content h4,
.product-detail-main .detail-content h5,
.product-detail-main .detail-content h6 {
	font-weight:700;
	margin-bottom:16px;
}
.product-detail-main .detail-content p {
	color:#677483;
	font-weight:700;
	margin-bottom:16px;
}

/* Flat Writers
-------------------------------------------------------------- */
.flat-writers {
	padding:24px 0 48px 0;
}
.flat-projects .flat-row-title h1 {
	font-weight:600;
	letter-spacing:1px;
}
.flat-writers .writerbox {
	padding:24px 0 16px 0;
	border-bottom:2px solid #d2d4d6;
}
.writerbox .writerbox-side {
	float:left;
	margin-right:30px;
}
.writerbox .writerbox-side .writer-image {
	width:170px;
	height:156px;
	margin-bottom:16px;
}
.writerbox .writerbox-side .writer-image img {
	width:100%;
	height:100%;
	-o-object-fit:cover;
	object-fit:cover;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
}
.writerbox .writerbox-side .writer-more a {
	display:inline-block;
	text-align:center;
	width:170px;
	height:40px;
	font-size:14px;
	font-weight:500;
	line-height:38px;
	letter-spacing:0.4375px;
	color:#677483;
	border:1px solid #d2d4d6;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
}
.writerbox .writerbox-side .writer-more a:hover {
	background-color:#e7ba04;
	border-color:#e7ba04;
	color:#ffffff;
}
.writerbox .writerbox-main {
	height:210px;
	overflow:hidden;
}
.writerbox .writerbox-main .writer-name {
	font-size:24px;
	font-weight:600;
	letter-spacing:0.75px;
	margin-bottom:16px;
}
.writerbox .writerbox-main p {
	font-size:16px;
	font-weight:500;
	letter-spacing:0.5px;
	color:#667483;
	margin-bottom:16px;
}

/* Flat SIngle Writer
-------------------------------------------------------------- */
.flat-single-writer {
	padding:48px 0;
}
.flat-single-writer .flat-row-title h3{
	margin-bottom:16px;
}
.flat-single-writer .sidebar-writer {
	position:relative;
	background:#fff;
	z-index:10;
}
.flat-single-writer .writer-image {
	margin-bottom:30px;
}
.flat-single-writer .writer-image img {
	width:100%;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
}
.flat-single-writer .writer-detail .writer-title {
	font-size:24px;
	font-weight:600;
	letter-spacing:0.75px;
	margin-bottom:24px;
}
.flat-single-writer .writer-detail p {
	font-size:16px;
	letter-spacing:0.5px;
	font-weight:500;
	color:#677483;
	margin-bottom:24px;
}

/* About Us
-------------------------------------------------------------- */
.flat-about {
	padding:48px 0;
}
.flat-about .about-title {
	font-size:24px;
	font-weight:500;
	letter-spacing:0.75px;
	margin-bottom:32px;
}
.flat-about .about-detail p {
	font-size:16px;
	font-weight:500;
	letter-spacing:0.5px;
	color:#677483;
	margin-bottom:32px;
}

/* Flat E-library
-------------------------------------------------------------- */
.flat-elibrary {
	padding:48px 0 56px 0;
}
.flat-elibrary .flat-row-title h2{
	font-size:24px;
	font-weight:500;
	letter-spacing:0.75px;
	margin-bottom:32px;
}
.flat-elibrary .ebook-box {
	padding:16px;
	margin-bottom:30px;
	border:1px solid #d2d4d6;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
}
.flat-elibrary .ebook-box .ebook-img,
.flat-elibrary .ebook-box .ebook-info,
.flat-elibrary .ebook-box .ebook-btn {
	display:inline-block;
	vertical-align: middle;
}
.flat-elibrary .ebook-box .ebook-img {
	width:88px;
	height:88px;
	text-align:center;
	overflow:hidden;
}
.flat-elibrary .ebook-box .ebook-info {
	padding-left:16px;
	max-width:170px;
}
.flat-elibrary .ebook-box .ebook-info h4 {
	font-size:16px;
	font-weight:500;
	color:#112029;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.flat-elibrary .ebook-box .ebook-info span {
	font-size:14px;
	font-weight:900;
	color:#112029;
	opacity:0.5;
}
.flat-elibrary .ebook-box .ebook-btn {
	float:right;
}
.flat-elibrary .ebook-box .ebook-btn a {
	display:inline-block;
	width:160px;
	height:40px;
	font-size:16px;
	font-weight:500;
	line-height:38px;
	margin-top:24px;
	color:#112029;
	text-align:center;
	border:1px solid #667483;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
}
.flat-elibrary .ebook-box .ebook-btn a:hover {
	border-color:#e7ba04;
	background-color:#e7ba04;
	color:#ffffff;
}
.flat-elibrary .imagebox-pagination {
	margin-top:18px;
}

/* Flat Contact
-------------------------------------------------------------- */
.flat-contact {
	padding:48px 0 50px 0;
}
.flat-contact .flat-row-title h2 {
	margin-bottom:50px;
}
.flat-contact .box-contact ul li {
	max-width:320px;
	height:50px;
	margin-bottom:48px;
	display:flex;
	align-items:flex-start;
}
.flat-contact .box-contact ul li.email,
.flat-contact .box-contact ul li.phone {
	align-items:center;
}
.flat-contact .box-contact ul li img {
	margin-right:16px;
}
.flat-contact .box-contact ul li p {
	flex:1;
	font-size:16px;
	font-weight:500;
	line-height:24px;
	letter-spacing:0.5px;
}
.flat-contact .form-contact {
	position:relative;
}
#contact-form .form-box {
	margin-bottom:30px;
}
#contact-form .form-box.one-half {
	width:50%;
	float:left;
}
#contact-form .form-box.one-half.contact-name,
#contact-form .form-box.one-half.contact-email {
	padding-right:15px;
}
#contact-form .form-box.one-half.contact-surname,
#contact-form .form-box.one-half.contact-subject {
	padding-left:15px;
}
#contact-form .form-box input {
	height:48px;
	padding:8px 16px;
}
#contact-form .form-box textarea {
	min-height:204px;
	max-height:304px;
}
#contact-form .form-box input,
#contact-form .form-box textarea {
	border:1px solid #d2d4d6;
	background-color:#fafbfc;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	font-size:14px;
	font-weight:500;
	letter-spacing:0.4375px;
}
#contact-form .form-box.submit-box {
	text-align:right;
}
#contact-form .form-box.submit-box button {
	height:48px;
	padding:0 102px;
	font-size:14px;
	font-weight:500;
	letter-spacing:0.4375px;
	background-color:#e7ba04;
	color:#ffffff;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
}
#contact-form .form-box .form-result {
	font-size:14px;
	font-weight:600;
	margin:20px 0;
	color:#f82c47;
	text-align:left;
}
#contact-form .form-box input.error,
#contact-form .form-box textarea.error {
	border-color:#f82c47;
}
#contact-form .contact-result {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color:rgba(255,255,255,0.96);
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	transition:all 0.2s ease;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
}
#contact-form .contact-result.invisible-box {
	opacity:0;
	visibility:hidden;
}
#contact-form .contact-result .result-box {
	position:absolute;
	width:100%;
	top:50%;
	left:0;
	text-align:center;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
}
#contact-form .contact-result.invisible-box:before {
	content:'\f164';
	position:absolute;
	font-size:50px;
	line-height:1;
	color:#21bf07;
	font-family:'FontAwesome';
	top:40%;
	left:50%;
	transform:translate(-40%,-50%);
	-webkit-transform:translate(-40%,-50%);
	-moz-transform:translate(-40%,-50%);
	-ms-transform:translate(-40%,-50%);
	-o-transform:translate(-40%,-50%);
}
#contact-form .contact-result .result-box p {
	font-size:16px;
	font-weight:600;
	color:#667483;
}

/* Flat Map
-------------------------------------------------------------- */
.flat-map {
	margin-bottom:56px;
}
#flat-map {
	width: 100%;
	height: 375px;
}
#flat-map iframe {
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
}
